.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #f88799;
  padding: 10px 20px;
  z-index: 999;
  width: 95%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.app-name {
  color: #552619;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 400px; /* Menggeser menu ke kanan */
}

.menu-item {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #f88799; /* Warna pink untuk menu "Home," "Order," "Reward," dan "About" */
  transition: color 0.3s; /* Animasi perubahan warna selama 0.3 detik */
}

.menu-item:hover {
  color: #552619;
}

.cart-button {
  background-color: #f88799;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.sign-in-button {
  background-color: #552619;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.sign-out-button {
  background-color: #552619;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* CSS navbar yang sudah ada */

/* Responsif ketika lebar layar kurang dari 768px */
@media (max-width: 768px) {
  .menu {
    display:none;
  }

  
  .menu-item {
    margin: 15px 0; /* Spasi antar menu pada mode vertical */
    
  }

  .app-name {
    font-size: 20px;
  }
}
